<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="P3tv/Np2tDAm1UrlJquox3lkkOs0r4+v/w2r+5MT1duOEbyrsRl568pCAkB6x0YvutR/QhoOWdnbaZCYhFBTNptuhEZd2DOc9EENzmpr+3U="/>
  </connectionStrings>
  <appSettings>
    <add key="CompanyCode" value="SGTT" />
    <add key="CompanyCodes" value="'SGTT','DANXUAN','GPHSCJSC','TLREC','TRUONGTIN','GLBDCL','VLILC','GLNVI'" />
  </appSettings>
</configuration>